/*Isso é css*/

h1 {
    color: green;
}

.link{
    display: inline;
    margin: 1%;
}
* {
    margin: auto;
}
.cabecalho{
    background-color: rgb(2, 248, 35);
}
h1, h2 {
    font-family: "Times New Roman", serif;
}
nav {
    font-weight: bold;
}
.container {
    margin: 20px;
}
#conteudo {
    line-height: 1.5;
}