/*Isso é css*/

h1 {
    color: green;
}

.link{
    display: inline;
    margin: 1%;
}
* {
    margin: auto;
}
.cabecalho{
    background-color: rgb(2, 248, 35);
}
h1, h2 {
    font-family: "Times New Roman", serif;
}
nav {
    font-weight: bold;
}
.container {
    margin: 20px;
}
#conteudo {
    line-height: 1.5;
}
.formulario {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(104, 104, 104);
    padding: 10px;
}
p {
    color: rgb(20, 104, 20);
}
button {
    background-color: rgb(67, 139, 221);
    color: white;
}
footer {
    border-top: 2px solid red;
}
